body {
    font-family: "Roboto", sans-serif;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  span {
    color: deeppink;
  }

  html {
    scroll-behavior: smooth;
  }